.slider{height:100%}.slider .carousel-content{display:block;height:100%;white-space:nowrap}.slider .carousel-content>*{white-space:normal}
.carousel{height:100%;width:100%}.carousel .carousel-content{height:100%;display:flex}
