body {
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
}

.container {
	position: relative;
	max-width: 60%;
	margin: 0 auto;
}

.container:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	box-shadow: inset 0 0 0 3px rgb(0, 183, 255);
	pointer-events: none;
}

.carousel {
	height: 400px !important;
}

.slide {
	height: 100%;
	min-width: 100%;
	background: #eee;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(150, 150, 150);
	font-size: 80px;
	transition: opacity 0.7s ease-out;
}

.slide.is-active {
	opacity: 1;
	color: black;
}

.card {
	opacity: 0.2;
	min-width: 33.3333%;
	padding: 0 10px;
	transition: opacity 0.7s ease-out;
}

.card.is-active {
	opacity: 1;
}

.options {
	display: flex;
	padding: 20px 0;
}

.options > * {
	margin-right: 20px;
}
